/*This page contains the styles of the donatespace html page*/
@font-face {
	font-family: daniel;
	src: url("Daniel-Bold.otf");
}

body {
	background-color: black;
	font-family: daniel;
}

h1 {
	font-family: daniel;
	text-align: center;
	font-size: 50px;	
	color: white;
}

#page {
	color: rgb(0, 137, 123);
    -webkit-border-radius: 10px;
    padding: 20px;
	width: auto;
	height: auto;
}

#typeofspace {
	border: 2px solid white;
	padding:10px;
	-webkit-border-radius: 10px;
	float: left;
}

