/*This is the css file for the landing page*/
@font-face {
	font-family: daniel;
	src: url(Daniel-Bold.otf);
}

html {
	font-family: daniel; /*I want to actually use Daniel-Bold.otf on the server*/
}

body {
	background-color: black;
/*	background-image: url("tornado.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
*/
}

h1 {
	font-size: 50px;
	text-align: center;
	padding: 0px;
	margin: 15px;
	color: white;
}

p {
	padding: 0px;
	margin: 10px;
	text-align: center;
	color: white;
}

#text_stuff {
	vertical-align: middle;
	color: #80CBC4;
	width: 500px;
	height: 375px;
	background-color: rgba(0, 137, 123, 0.8);
	border: 2px solid rgb(0, 137, 123);
	-webkit-border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#login_stuff {
	color: white;
	text: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

input::-webkit-input-placeholder {
	color: black !important;
}

input[type=text], input[type=password] {
	width: 450px;
	font-size: 30px;
	border: 2px solid #80CBC4;
	-webkit-border-radius: 5px;
	background: rgba(0, 0, 0, 0.0);
	color: #80CBC4;
	font-family: daniel;
}

input[type=submit] {
	font-family: daniel;
	color: white;
	text-align: right !important;
	font-size: 20px;
	border: 2px solid #80CBC4;
	-webkit-border-radius: 5px;
	background: rgba(0, 0, 0, 0.0);
}

#buttondiv {
	text-align: right;
	margin-right: 10px;
	margin-top: 50px;
}
